version: '2'
services:
  php:
    container_name: leasyluxphp
    build:
      context: ./php
      dockerfile: php.dockerfile
    working_dir: /var/www
    volumes:
      - /var/www:/var/www
    tty: true
    links:
      - db:db
  db:
    image: mariadb:10.1
    volumes:
      - /root/docker/lib/data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
  nginx:
    build:
      context: ./nginx
      dockerfile: nginx.dockerfile
    volumes:
      - /var/www:/var/www
    ports:
      - "80:80"
      - "443:443"
    links:
      - db:db
      - php:php
  adminer:
      image: adminer
      ports:
        - 10080:8080