version: '2'
services:
  php:
    build:
      context: ./php
      dockerfile: php.dockerfile
    working_dir: /var/www
    volumes:
      - /var/www:/var/www
    tty: true
  #db:
  #  build:
  #    context: ./mariadb
  #    dockerfile: mariadb.dockerfile
  #  working_dir: /root/docker
  #  volumes:
  #    - /root/docker:/root/docker/lib/data
  #  tty: true
  nginx:
    build:
      context: ./nginx
      dockerfile: nginx.dockerfile
    volumes:
      - /var/www:/var/www
    links:
     # - db
      - php