[Unit]
Description=The PHP 5.4 FastCGI Process Manager
After=network.target

[Service]
Type=simple
PIDFile=/opt/php-5.4/var/run/php-fpm.pid
ExecStart=/opt/php-5.4/sbin/php-fpm --nodaemonize --fpm-config /etc/php5/fpm/php-fpm.conf
ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy=multi-user.target